/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Arvo:600,400,400italic|Raleway:700,500,300);

/* Generics */
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.container, header, #left-content, #middle-content, #right-content, footer {
	margin: 0.5%;
}

/* Content container */
.container {
	margin: 0px auto;
	padding-top: 5em;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
}

/* Header text */
header h1 {
	text-align: center;
	font: normal 500% 'Arvo', serif;
	font-weight: 600;
	color: #000;
}

/* Margins and width for 3 columns */
#left-content, #middle-content, #right-content{
	width: 30%;
	display: inline-block;
	padding: 0 5px;
	vertical-align:top;
}

footer {
	clear: both;
	padding: 0 15px;
}

/* Tabular Resume*/
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
    padding: 0.3em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
	width: auto;
	font: normal 110% 'Raleway', sans-serif;
	font-weight: 700;
	color: rgb(0,0,0);
}

th.main-sect {
	font-size: 130%;
}

th.sub-sect, th.sub-sect1 {
	padding-left: 1.36em;
    color: rgb(80,80,80)
}

th.sub-sect2 {
	padding-left: 1.5em;
    font-size: 100%;
    color: rgb(100, 100, 100);
}

td {
    vertical-align: middle;
    width: auto;
    font: normal 90% 'Arvo', sans-serif;
	font-weight: 400;
	color: rgb(115, 115, 115);
}

td.des {
    padding-left: 4em;
}

tr:hover {
    background-color: bisque;
}

th.main-sect {
    background-color: #fff;
}

.toggle {
    text-align: right;
    padding-right: 2em;
}

/* Font things */
h2 {
	font: normal 150% 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 1em;
	color: rgb(61, 61, 61);
}

h4 {
	font: normal 120% 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 0.5em;
	color: rgb(61, 61, 61);
}

p {
	font: normal 90% 'Arvo', sans-serif;
	font-weight: 400;
	color: rgb(145, 145, 145);
}

p a {
    text-decoration: none;
}

@media only screen and (min-width: 960px) {
	.container {
	    width: 80%;
	}
}

/* Normal */
@media only screen and (min-width: 40em){
	#left-content, #middle-content, #right-content {
		width: 29%;
		padding: 1% 1%;
	}
}

/* Responsive for 40em */
@media only screen and (max-width: 40em){
	header h1 {
		font: normal 400% 'Arvo', serif;
		font-weight: 600;
	}

	.container {
		padding-top: 5.5em;
	}

	#left-content, #middle-content {
		width: 40%;
		padding: 1% 4%;
	}
	
	#right-content {
		clear: both;
		padding: 1% 4%;
		width: auto;
	}

	header, footer {
		padding: 1% 4%;
	}
    
    th {
        font: normal 90% 'Raleway', sans-serif;
    }

    th.main-sect {
        font-size: 110%;
    }

    th.sub-sect2 {
        font-size: 80%;
    }

    td {
        font: normal 75% 'Arvo', sans-serif;
    }
    
    p {
        font-size: 75%;
    }
}

/* Responsive for phones */
@media only screen and (max-width: 480px){
	header h1 {
		font: normal 240% 'Arvo', serif;
		font-weight: 600;
	}

	.container {
		padding-top: 2.4em;
	}

	#left-content, #middle-content, #right-content {
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}

}