@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');

body {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(224, 134, 13);
}

a:hover {
  color: rgb(201, 85, 0);
}
